.detail-car-container {
  display: flex;
  gap: 32px;
  width: 1047px;
  margin: auto;
  padding-bottom: 152px;
}

.detail-car-container-left {
  width: 605px;
  padding: 24px;
}

.detail-car-container-left li {
  color: var(--neutral-03, #8a8a8a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
}

.detail-car-container-right {
  width: 405px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 24px;
  margin-bottom: 180px;
}

.detail-car-image {
  object-fit: contain;
  max-width: 100%;
  padding: 4px 24px;
  border-radius: 8px;
}

.detail-car-container-border {
  border-radius: 8px;
  background: var(--neutral-01, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.detail-car-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
}

.detail-car-category {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #8a8a8a;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
}

.detail-car-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
