.navbar-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1055px;
  padding-top: 24px;
}

.navbar-menu {
  display: flex;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  gap: 32px;
}

.navbar-menu a {
  text-decoration: none;
  color: #000;
}

.navbar-side {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-menu {
    display: none;
  }

  .navbar-side {
    display: block;
  }

  .navbar-container {
    padding: 24px;
  }

  .navbar-container button {
    border: none;
  }
}
