.whyus-container {
  max-width: 1168px;
  margin: auto;
}

.whyus-container p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.whyus-header {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.whyus-card-title {
}

.whyus-card {
  width: auto;
  display: flex;
  justify-content: space-between;
}
