.footer-container {
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
  font-style: normal;
  margin: auto;
}

.footer-container-child {
  width: 268px;
}

.footer-container-vertical {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer-bold {
  font-weight: 700;
  line-height: 20px;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
