.card-list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 1047px;
  padding-bottom: 100px;
  gap: 24px;
}

.search-section {
  display: flex;
  width: 1047px;
  padding: 24px;
  border-radius: 8px;
  background: var(--neutral-01, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  /* margin: auto; */
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%);
}

.search-section-input {
  display: flex;
  flex-direction: column;
  width: 208px;
  gap: 4px;
}

.search-section-input input,
select {
  border-radius: 2px;
  border: 1px solid var(--neutral-40, #ccc);
  background: var(--neutral-10, #fff);
  padding: 9px 12px;
  color: var(--neutral-50, #999);
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.search-section button {
  margin-top: 24px;
  padding: 8px 12px;
  border-radius: 2px;
  background: var(--primary-lime-green-04, #5cb85f);
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
