* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-section {
  padding-bottom: 100px;
}

p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 600px) {
  .container-section {
    padding: 0 16px 60px 16px;
  }
}
